ฝั่ง node-red
[
    {
        "id": "989ca0160a278b7e",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "404bf1bb16aac992",
        "type": "inject",
        "z": "989ca0160a278b7e",
        "name": "ข้อมูลจาก iot",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "\"sw01/0001/room1\"",
        "payload": "\"temp:27, humi:54\"",
        "payloadType": "str",
        "x": 250,
        "y": 200,
        "wires": [
            [
                "7209c53b04a6ecfe"
            ]
        ]
    },
    {
        "id": "ee693ffb7c04cd93",
        "type": "debug",
        "z": "989ca0160a278b7e",
        "name": "เเสดงผล",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 300,
        "wires": []
    },
    {
        "id": "b4c9a22d7622fa8b",
        "type": "ui_text",
        "z": "989ca0160a278b7e",
        "group": "d94aa88dbecb28dd",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "ห้อง : ",
        "format": "{{msg.topic[0]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 450,
        "y": 240,
        "wires": []
    },
    {
        "id": "7209c53b04a6ecfe",
        "type": "change",
        "z": "989ca0160a278b7e",
        "name": "สื่อกลาง",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "[$split(topic,'/')[1],payload.temp,payload.humi]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "08e640cda0dcba12",
        "type": "ui_gauge",
        "z": "989ca0160a278b7e",
        "name": "",
        "group": "d94aa88dbecb28dd",
        "order": 7,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "อุณหภูมิ",
        "label": "หน่วยวัด",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 860,
        "y": 300,
        "wires": []
    },
    {
        "id": "2dbf0d28b808384e",
        "type": "mqtt in",
        "z": "989ca0160a278b7e",
        "name": "รับค่าจาก mqtt",
        "topic": "sensor/humi",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "87e96cd23ebc3869",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 470,
        "y": 360,
        "wires": [
            [
                "c3697fa0f7b7013b"
            ]
        ]
    },
    {
        "id": "0b08eb7f109ffb84",
        "type": "mqtt in",
        "z": "989ca0160a278b7e",
        "name": "รับค่าจาก mqtt",
        "topic": "sensor/temp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "87e96cd23ebc3869",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 470,
        "y": 320,
        "wires": [
            [
                "ee693ffb7c04cd93",
                "cb6bcfff162d2491"
            ]
        ]
    },
    {
        "id": "17719b373165ba08",
        "type": "ui_led",
        "z": "989ca0160a278b7e",
        "order": 17,
        "group": "d94aa88dbecb28dd",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 930,
        "y": 420,
        "wires": []
    },
    {
        "id": "a0501830eb4fbd20",
        "type": "ui_button",
        "z": "989ca0160a278b7e",
        "name": "",
        "group": "d94aa88dbecb28dd",
        "order": 18,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "start",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 590,
        "y": 480,
        "wires": [
            [
                "17719b373165ba08",
                "bb10ffc0424fce08",
                "5204173d7cd14bbe"
            ]
        ]
    },
    {
        "id": "f775e0841e712a7c",
        "type": "ui_button",
        "z": "989ca0160a278b7e",
        "name": "",
        "group": "d94aa88dbecb28dd",
        "order": 19,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 590,
        "y": 520,
        "wires": [
            [
                "17719b373165ba08",
                "bb10ffc0424fce08",
                "5204173d7cd14bbe"
            ]
        ]
    },
    {
        "id": "2caf085438593aa4",
        "type": "mqtt in",
        "z": "989ca0160a278b7e",
        "name": "รับค่าเปิด-ปิดหลอดไฟ",
        "topic": "toa/led",
        "qos": "2",
        "datatype": "utf8",
        "broker": "87e96cd23ebc3869",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 450,
        "y": 420,
        "wires": [
            [
                "17719b373165ba08",
                "bb10ffc0424fce08",
                "5204173d7cd14bbe"
            ]
        ]
    },
    {
        "id": "bb10ffc0424fce08",
        "type": "mqtt out",
        "z": "989ca0160a278b7e",
        "name": "ส่งค่าเปิด-ปิดหลอดไฟ",
        "topic": "master/toa",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "87e96cd23ebc3869",
        "x": 980,
        "y": 460,
        "wires": []
    },
    {
        "id": "5204173d7cd14bbe",
        "type": "debug",
        "z": "989ca0160a278b7e",
        "name": "เเสดงค่าเปิด-ปิด หลอดไฟ",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 500,
        "wires": []
    },
    {
        "id": "cb6bcfff162d2491",
        "type": "change",
        "z": "989ca0160a278b7e",
        "name": "สื่อกลาง",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 340,
        "wires": [
            [
                "08e640cda0dcba12"
            ]
        ]
    },
    {
        "id": "c3697fa0f7b7013b",
        "type": "change",
        "z": "989ca0160a278b7e",
        "name": "สื่อกลาง",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 380,
        "wires": [
            [
                "a90cbdfd755affdb"
            ]
        ]
    },
    {
        "id": "a90cbdfd755affdb",
        "type": "ui_gauge",
        "z": "989ca0160a278b7e",
        "name": "",
        "group": "d94aa88dbecb28dd",
        "order": 7,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "ความชื้น",
        "label": "หน่วยวัด",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 860,
        "y": 340,
        "wires": []
    },
    {
        "id": "d94aa88dbecb28dd",
        "type": "ui_group",
        "name": "แผงควบคุมโรงเรือนที่1",
        "tab": "42e6b03e23cc63cc",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "87e96cd23ebc3869",
        "type": "mqtt-broker",
        "name": "MQTTX",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "42e6b03e23cc63cc",
        "type": "ui_tab",
        "name": "หน้าหลัก",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
